.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .image-container {
    max-width: 100%;
    max-height: 150px; /* Adjust the height as needed */
    overflow: hidden;
    margin: 10px 0;
  }

  .additional-image {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
  }
